<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css"/>
</head>

<body >

  <%- include ('../includes/navigation.ejs') %>
    <main>
      <h1>Online shop</h1>
      <% if (products.length > 0) { %>
        <section class="products">
            <% for (let product of products) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h2 class="product__title"><%= product.name %></h2>
                    </header>
                    <div class="card__image">
                        <img src=<%= product.url %>
                            alt="Photo of product">
                    </div>
                    <div class="card__content">
                        <h3 class="product__price"><%= product.price %></h3>
                        <p class="product__description"><%= product.description %></p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h2>Nothing here!</h2>
    <% } %>

    </main>
    <footer></footer>

   
    <%- include('../includes/end.ejs') %>